<section id="logo_wrapper" class="wrapper">
    <div id="logos">
        <h2>Certifications &amp; quality assurance</h2>
        <div class="logo_list">
            <img src="images/logos/ISO-9001.jpg" alt="ISO 9001" style="vertical-align: middle;">
            <img src="images/logos/FSC.png" alt="FSC" style="vertical-align: middle;">
            <img src="images/logos/PEFC.png" alt="PEFC" style="vertical-align: middle;">
            <img src="images/logos/ISO-14001.jpg" alt="ISO 14001" style="vertical-align: middle;">
        </div>
    </div>
</section>