
@*this triggers when user is scrolling down - trigger at x axis of 500 on screen. check site.js file.*@ 

<section id="top_header_wrapper">
    <div id="top_header">
        <div id="top_logo"><img src="images/shredhouse_icon.png" alt="Shredhouse logo small"></div>
        <div id="top_contact_info">
            <div class="header_contact_email">
                <a onclick="ga('send', 'event', { eventCategory: 'Email', eventAction: 'Clicked', eventLabel: 'Small Header'});"
                   href="mailto:sales@shredhouse.co.uk">sales@shredhouse.co.uk</a>
            </div>
            <div class="header_contact_phone">01672 564333</div>
        </div>
    </div>
</section>

<section id="header_wrapper" class="wrapper">
    <header>
        <div id="logo"><img src="images/shredhouse_logo.png" alt="Shredhouse logo"></div>
        <div id="header_contact_wrapper">
            <div id="header_social_info">
                <div class="social_sharing">
                    <a href="javascript:void(0);" class="social_show_hide"
                       rel="#social_hidden">SHARING</a>
                </div>
                <div class="social_facebook">
                    <a onclick="ga('send', 'event', { eventCategory: 'Facebook', eventAction: 'Clicked', eventLabel: 'Header'});"
                       href="https://www.facebook.com/shredhouse/" target="_blank">FACEBOOK</a>
                </div>
                <div class="social_twitter">
                    <a onclick="ga('send', 'event', { eventCategory: 'Twitter', eventAction: 'Clicked', eventLabel: 'Header'});"
                       href="https://twitter.com/ShredhouseLtd" target="_blank">TWITTER</a>
                </div>
            </div>
            <div id="header_contact_info">
                <div class="header_contact_email">
                    <a onclick="ga('send', 'event', { eventCategory: 'Email', eventAction: 'Clicked', eventLabel: 'Header'});"
                       href="mailto:sales@shredhouse.co.uk">sales@shredhouse.co.uk</a>
                </div>
                <div class="header_contact_phone">01672 564333</div>
            </div>
        </div>
    </header>
</section>