<section id="footer_wrapper" class="wrapper">
    <footer>
        <div id="links">
            <div class="social_icons bottom">
                <div class="bottom_facebook">
                    <a onclick="ga('send', 'event', { eventCategory: 'Facebook', eventAction: 'Clicked', eventLabel: 'Footer'});"
                       href="https://www.facebook.com/shredhouse/" target="_blank">FACEBOOK</a>
                </div>
                <div class="bottom_twitter">
                    <a onclick="ga('send', 'event', { eventCategory: 'Twitter', eventAction: 'Clicked', eventLabel: 'Footer'});"
                       href="https://twitter.com/ShredhouseLtd" target="_blank">TWITTER</a>
                </div>
            </div>
            <div class="contact_bottom">
                <div class="contact_bottom_email">
                    <a onclick="ga('send', 'event', { eventCategory: 'Email', eventAction: 'Clicked', eventLabel: 'Footer'});"
                       href="mailto:sales@shredhouse.co.uk">sales@shredhouse.co.uk</a>
                </div>
                <div class="contact_bottom_phone">01672 564333</div>
                <p>
                    <a style="color: #FFFFFF;" href="https://www.shredhouse.co.uk/privacy-policy.html">
                        Privacy
                        Policy
                    </a>
                </p>
                <p>
                    <a style="color: #FFFFFF;"
                       href="https://www.shredhouse.co.uk/quality-food-environment-policy.jpg">
                        Quality Food
                        Safety & Environment Policy
                    </a>
                </p>
            </div>
        </div>
        <div id="copyright">
            &copy; Shredhouse Ltd
            <p style="font-size:15px;">
                Salisbury Road Business Park<br />
                Pewsey<br />
                Wiltshire<br />
                SN9 5PZ
            </p>
            <p style="font-size:15px;">
                Company Reg No 3952298<br />
                VAT No 749 9090 81
            </p>
        </div>
    </footer>
</section>