
@if (DateTime.UtcNow.Date == new DateTime(DateTime.UtcNow.Year, 12, 13))
{
    <div id="christmas-message-wrapper">
        <div id="christmas-message">
            <p> Our last production day before closing for the Christmas Holiday break will be Wednesday 19th December for delivery on Thursday 20th December. The office will reopen on Wednesday 2nd January and full production commences on Thursday 3rd January.</p>
            <p> We would like to send our customers the Season’s Greetings and our very best wishes for a happy &prosperous New Year.We look forward to being of further service to you in 2019! </p>
        </div>
    </div>
}
