<div id="sharing_wrapper" class="wrapper">
    <div id="sharing_content">
        <div id="facebook">
            <div id="fb_like">
                <iframe src="https://www.facebook.com/plugins/like.php?href=https://www.shredhouse.co.uk&width=50&layout=button&action=like&show_faces=false&share=false&height=20&appId"
                        width="50" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                        allowTransparency="true"></iframe>
            </div>
        </div>
        <div id="twitter">
            <div id="twitter_tweet">
                <a href="https://twitter.com/home?status=https://www.shredhouse.co.uk"
                   class="twitter-share-button">Tweet</a>
            </div>
        </div>
    </div>
</div>