



<section id="hero_wrapper" class="wrapper">
    <div id="hero">
        <h1>
            Manufacturers of high-quality decorative and protective packaging for products, gifts, hampers and
            boxes.
        </h1>
        <p>
            We are the only UK-based manufacturers of shredded paper, tissue paper and cellophane for the gift
            packaging market. We also supply luxury coloured and white tissue paper.
        </p>
    </div>
</section>
<section id="value_wrapper" class="wrapper">
    <div id="value">
        <h2>We help to show products and gifts at their best.</h2>
        <p>
            Our high-quality and colourful packaging options make products or gifts look striking, boost the
            excitement of the unpacking experience for customers or gift recipients, enhance the perceived value
            of the product, and are an attractive way to stop products from breaking or moving around in their
            boxes.
        </p>
        <p>
            We work with national brands through to small artisans across a range of industries including health,
            beauty, food, drink, clothing, crafts, toys, gifts and many more. We supply retailers, wholesalers
            and contract packers too.
        </p>
        <p>
            If you would like to view the available colour range please <a onclick="ga('send', 'event', { eventCategory: 'Giftpackaging', eventAction: 'Clicked', eventLabel: 'Giftpackaging Colour'});"
                                                                           href="https://www.giftpackaging.co.uk" target="_blank">click here</a>.
        </p>
    </div>
</section>










<section id="why_wrapper" class="wrapper">
    <div id="why">
        <h2>Why Shredhouse?</h2>
        <div class="why_reasons_wrapper">
            <div class="why_reason dark">
                <h3>Experienced</h3>
                <p>
                    With over 20 years’ experience in the industry, we offer expert guidance to ensure your
                    product is packaged and presented to a high standard.
                </p>
            </div>
            <div class="why_reason light">
                <h3>UK-based</h3>
                <p>
                    We have our own UK-based manufacturing unit and offer fast and flexible production and
                    delivery of product orders.
                </p>
            </div>
            <div class="why_reason dark">
                <h3>Flexible</h3>
                <p>
                    Our flexible approach offers bespoke or blended colours to match your branding and the
                    ability to create custom products to meet your needs.
                </p>
            </div>
            <div class="why_reason light">
                <h3>Eco-friendly</h3>
                <p>
                    We offer reusable, recyclable and biodegradable packaging options and have ISO, FSC® and PEFC
                    supplier certifications. This allows our customers to show their environmental
                    responsibility.
                </p>
            </div>
        </div>
    </div>
</section>